<app-header></app-header>
<div class="page-header header-filter" data-parallax="true">
    <div class="container">
        <div class="row">
    		<div class="col-md-6 .offset-md-3">
    			<h1 class="title">Start your Learning Journey With Us.</h1><br>
                <h4>We envision a world where anyone,anywhere can transform their life by accessing the best learning experience. Join our community today as a Student or a Trainer.</h4>
                <br>
                <a href="/mainsearch" class="btn btn-info">Search Trainer</a>&nbsp;
                <a href="/trainerlogin" class="btn btn-info">Be a Trainer</a>
                <br>
    		</div>
        </div>
    </div>

    