<app-header></app-header>
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TRAINERS</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Lisbeth Salander</h4>
                                    <p class="card-text">Ethical Hacking.</p>
                                    <a class="btn btn-primary btn-sm" href="#" data-toggle="modal" data-target="#myModal" >View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">John Doe</h4>
                                    <p class="card-text">Java Full Stack Developer.</p>
                                    <a href="#" class="btn btn-primary btn-sm">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Linden Sky Davis</h4>
                                    <p class="card-text">Angular CLI.</p>
                                    <a href="#" class="btn btn-primary btn-sm">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg"
                                            alt="card image"></p>
                                    <h4 class="card-title">Augustus Waters</h4>
                                    <p class="card-text">Python Django.</p>
                                    <a href="#" class="btn btn-primary btn-sm">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Robert Langdon</h4>
                                    <p class="card-text">Artificial Intelligence.</p>
                                    <a href="#" class="btn btn-primary btn-sm">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg"
                                            alt="card image"></p>
                                    <h4 class="card-title">Anna Joe</h4>
                                    <p class="card-text">Spring MVC.</p>
                                    <a href="#" class="btn btn-primary btn-sm">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>

<div class="container">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Joe</h4>
                    </div>
                <div class="modal-body">
                    
                    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle">
                    <h3 class="media-heading">Joe Sixpack <small>USA</small></h3>
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows XP, Vista, 7</span>
                    
                
                    
                    <p class="text-left"><strong>Bio: </strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                    <br>
                    
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>